<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Chiffre de Vigenère</span>
    </mat-toolbar>
    <div class="content">
      <div fxLayout="column">

        <form #f="ngForm">

      <mat-form-field appearance="fill" style="width: 300px; font-size: 16px;">
        <mat-label>Decoded message</mat-label>
        <textarea name="decodedMessage" matInput rows="7" cols="40" ngModel></textarea>
      </mat-form-field>

        <div fxLayout="row">

      <mat-form-field appearance="fill" style="width: 170px; font-size: 16px;">
        <mat-label>Password</mat-label>
        <input name="password" matInput ngModel required #password="ngModel">
        <small
          *ngIf="password.touched && password.errors?.['required']"
          class="form-text invalid-form-text mb-2 mt-0"
        >
          Введите пароль для шифровки!
        </small>
      </mat-form-field>

          <button mat-icon-button (click)="onEncodeMessage()" [disabled]="f.invalid" style="height: 50px; width: 50px; margin-left: 20px; margin-top: 5px">
            <mat-icon aria-hidden="false" style="font-size: 50px; padding-right: 25px">keyboard_double_arrow_down</mat-icon>
          </button>

          <button mat-icon-button (click)="onDecodeMessage()" [disabled]="f.invalid" style="height: 50px; width: 50px; margin-left: 5px; margin-top: 5px">
            <mat-icon aria-hidden="false" style="font-size: 50px; padding-right: 25px; padding-bottom: 5px">keyboard_double_arrow_up</mat-icon>
          </button>

        </div>

        <mat-form-field appearance="fill" style="width: 300px; font-size: 16px;">
          <textarea type="text" name="encodedMessage" matInput rows="7" cols="40" ngModel placeholder="Encoded message"></textarea>
        </mat-form-field>

        </form>

    </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
